<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ValtechProject.Configs.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ValtechProject.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ValtechProject.Configs.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ValtechProject.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ValtechProject.Configs.Config>
            <setting name="ValtechHomePage" serializeAs="String">
                <value>https://www.valtech.com/en-gb/</value>
            </setting>
            <setting name="ChromeBrowser" serializeAs="String">
                <value>chrome</value>
            </setting>
            <setting name="FirefoxBrowser" serializeAs="String">
                <value>firefox</value>
            </setting>
            <setting name="InternetExplorerBrowser" serializeAs="String">
                <value>ie</value>
            </setting>
            <setting name="Screenshot" serializeAs="String">
                <value>C:\Users\admin\Documents\CERTIFICATIONS\Software Testing\AutoAndre\automationScreenShot\</value>
            </setting>
        </ValtechProject.Configs.Config>
        <ValtechProject.Config>
            <setting name="ValtechHomePage" serializeAs="String">
                <value>www.valtech.co.uk</value>
            </setting>
        </ValtechProject.Config>
    </userSettings>
    <applicationSettings>
        <ValtechProject.Configs.Config>
            <setting name="DefaultTimeOuts" serializeAs="String">
                <value>60</value>
            </setting>
        </ValtechProject.Configs.Config>
        <ValtechProject.Config>
            <setting name="DefaultTimeOut" serializeAs="String">
                <value>60</value>
            </setting>
        </ValtechProject.Config>
    </applicationSettings>
</configuration>